####################
##    Main env    ##
####################

WP_PORT=81
DB_ROOT_PASSWORD=password
DB_NAME=wordpress
DB_PORT=3385
PHPMYADMIN_PORT=8593
WP_TABLE_PREFIX=wp
APP_NAME=wp-docker-test

# Environment type
# Use function wp_get_environment_type() to operate with it
WP_ENVIRONMENT_TYPE=local

